In [11]:
import pandas as pd

df_march_2023 = pd.read_csv('../../data/bicing/processed/months/2023_03_STATIONS.csv')
df_march_2023['date'] = pd.to_datetime(df_march_2023['grouped_date'])
df_march_2023_station_312 = df_march_2023[df_march_2023['station_id'] == 312]


df_march_2023_station_312.head(2)

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,status,is_renting,is_returning,year,month,...,hour,grouped_minute,day_of_week,is_weekend,grouped_date,docking_available,bikes_available,bikes_available.mechanical,bikes_available.ebike,date
301,312,12,2,10,23,IN_SERVICE,1,1,2023,2,...,22,45,1,0,2023-2-28 22:45,True,True,True,True,2023-02-28 22:45:00
804,312,12,2,10,23,IN_SERVICE,1,1,2023,2,...,23,0,1,0,2023-2-28 23:00,True,True,True,True,2023-02-28 23:00:00

In [10]:
df_march_2023_station_312[df_march_2023_station_312['num_bikes_available_types.mechanical'] == 0]

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,status,is_renting,is_returning,year,month,...,hour,grouped_minute,day_of_week,is_weekend,grouped_date,docking_available,bikes_available,bikes_available.mechanical,bikes_available.ebike,date
20444,312,5,0,5,31,IN_SERVICE,1,1,2023,3,...,6,45,2,0,2023-3-1 6:45,True,True,False,True,2023-03-01 06:45:00
20849,312,3,0,3,33,IN_SERVICE,1,1,2023,3,...,6,45,2,0,2023-3-1 6:45,True,True,False,True,2023-03-01 06:45:00
21580,312,2,0,2,34,IN_SERVICE,1,1,2023,3,...,7,0,2,0,2023-3-1 7:00,True,True,False,True,2023-03-01 07:00:00
21964,312,1,0,1,35,IN_SERVICE,1,1,2023,3,...,7,0,2,0,2023-3-1 7:00,True,True,False,True,2023-03-01 07:00:00
22634,312,1,0,1,35,IN_SERVICE,1,1,2023,3,...,7,15,2,0,2023-3-1 7:15,True,True,False,True,2023-03-01 07:15:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2451861,312,4,0,4,31,IN_SERVICE,1,1,2023,3,...,11,45,4,0,2023-3-31 11:45,True,True,False,True,2023-03-31 11:45:00
2452252,312,3,0,3,32,IN_SERVICE,1,1,2023,3,...,12,0,4,0,2023-3-31 12:00,True,True,False,True,2023-03-31 12:00:00
2452641,312,4,0,4,31,IN_SERVICE,1,1,2023,3,...,12,0,4,0,2023-3-31 12:00,True,True,False,True,2023-03-31 12:00:00
2453313,312,5,0,5,30,IN_SERVICE,1,1,2023,3,...,12,15,4,0,2023-3-31 12:15,True,True,False,True,2023-03-31 12:15:00
2487422,312,4,0,4,31,IN_SERVICE,1,1,2023,3,...,20,15,4,0,2023-3-31 20:15,True,True,False,True,2023-03-31 20:15:00

In [8]:
df_march_2023

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,status,is_renting,is_returning,year,month,...,hour,grouped_minute,day_of_week,is_weekend,grouped_date,docking_available,bikes_available,bikes_available.mechanical,bikes_available.ebike,date
0,1,35,32,3,11,IN_SERVICE,1,1,2023,2,...,22,45,1,0,2023-2-28 22:45,True,True,True,True,2023-02-28 22:45:00
1,2,6,6,0,23,IN_SERVICE,1,1,2023,2,...,22,45,1,0,2023-2-28 22:45,True,True,True,False,2023-02-28 22:45:00
2,3,18,17,1,9,IN_SERVICE,1,1,2023,2,...,22,45,1,0,2023-2-28 22:45,True,True,True,True,2023-02-28 22:45:00
3,4,2,0,2,19,IN_SERVICE,1,1,2023,2,...,22,45,1,0,2023-2-28 22:45,True,True,False,True,2023-02-28 22:45:00
4,5,14,14,0,25,IN_SERVICE,1,1,2023,2,...,22,45,1,0,2023-2-28 22:45,True,True,True,False,2023-02-28 22:45:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494349,508,10,2,8,15,IN_SERVICE,1,1,2023,3,...,22,0,4,0,2023-3-31 22:00,True,True,True,True,2023-03-31 22:00:00
2494350,509,8,4,4,19,IN_SERVICE,1,1,2023,3,...,22,0,4,0,2023-3-31 22:00,True,True,True,True,2023-03-31 22:00:00
2494351,511,5,0,5,13,IN_SERVICE,1,1,2023,3,...,22,0,4,0,2023-3-31 22:00,True,True,False,True,2023-03-31 22:00:00
2494352,513,10,1,9,14,IN_SERVICE,1,1,2023,3,...,22,0,4,0,2023-3-31 22:00,True,True,True,True,2023-03-31 22:00:00
2494353,514,2,1,1,16,IN_SERVICE,1,1,2023,3,...,22,0,4,0,2023-3-31 22:00,True,True,True,True,2023-03-31 22:00:00