In [7]:
import pandas as pd

df_weather_2023 = pd.read_csv('../../data/2023_MeteoCat_Detall_Estacions.csv')
df_weather_2023.head(5)

  DATA_LECTURA DATA_EXTREM CODI_ESTACIO ACRÒNIM  VALOR
0   2023-01-01         NaN           D5      TM   12.9
1   2023-01-01    00:23:00           D5      TX   15.2
2   2023-01-01    08:50:00           D5      TN   10.7
3   2023-01-01         NaN           D5     HRM   69.0
4   2023-01-01    09:54:00           D5     HRX   97.0

In [6]:
df_weather_2023.isna().sum()

AttributeError: 'str' object has no attribute 'isna'

In [8]:
df_weather_2023[df_weather_2023['ACRÒNIM'] == 'TX']

      DATA_LECTURA DATA_EXTREM CODI_ESTACIO ACRÒNIM  VALOR
1       2023-01-01    00:23:00           D5      TX   15.2
16      2023-01-01    12:35:00           X2      TX   16.1
22      2023-01-01    12:01:00           X4      TX   16.1
37      2023-01-01    11:50:00           X8      TX   16.1
52      2023-01-02    13:47:00           D5      TX   14.5
...            ...         ...          ...     ...    ...
18550   2023-12-30    13:30:00           X8      TX   16.7
18565   2023-12-31    12:01:00           D5      TX   15.6
18580   2023-12-31    13:10:00           X2      TX   17.7
18586   2023-12-31    12:15:00           X4      TX   17.9
18601   2023-12-31    12:18:00           X8      TX   18.5

[1460 rows x 5 columns]

In [9]:

df_weather_2023[df_weather_2023['DATA_LECTURA'] == '2023-01-01']

   DATA_LECTURA DATA_EXTREM CODI_ESTACIO ACRÒNIM   VALOR
0    2023-01-01         NaN           D5      TM    12.9
1    2023-01-01    00:23:00           D5      TX    15.2
2    2023-01-01    08:50:00           D5      TN    10.7
3    2023-01-01         NaN           D5     HRM    69.0
4    2023-01-01    09:54:00           D5     HRX    97.0
5    2023-01-01    20:00:00           D5     HRN    50.0
6    2023-01-01         NaN           D5      PM   976.9
7    2023-01-01    10:22:00           D5      PX   978.3
8    2023-01-01    15:08:00           D5      PN   975.9
9    2023-01-01         NaN           D5     PPT     0.0
10   2023-01-01         NaN           D5   RS24h     5.8
11   2023-01-01         NaN           D5   VVM10     1.9
12   2023-01-01         NaN           D5   DVM10   233.0
13   2023-01-01    00:02:00           D5   VVX10     6.5
14   2023-01-01    00:02:00           D5  DVVX10   277.0
15   2023-01-01         NaN           X2      TM    11.8
16   2023-01-01    12:35:00           X2      TX    16.1
17   2023-01-01    03:47:00           X2      TN     8.9
18   2023-01-01         NaN           X2     HRM    84.0
19   2023-01-01    21:30:00           X2     HRX    97.0
20   2023-01-01    10:02:00           X2     HRN    61.0
21   2023-01-01         NaN           X4      TM    13.7
22   2023-01-01    12:01:00           X4      TX    16.1
23   2023-01-01    04:00:00           X4      TN    11.3
24   2023-01-01         NaN           X4     HRM    80.0
25   2023-01-01    19:41:00           X4     HRX   100.0
26   2023-01-01    06:19:00           X4     HRN    64.0
27   2023-01-01         NaN           X4      PM  1021.8
28   2023-01-01    10:00:00           X4      PX  1023.5
29   2023-01-01    16:05:00           X4      PN  1020.7
30   2023-01-01         NaN           X4     PPT     0.0
31   2023-01-01         NaN           X4   RS24h     4.8
32   2023-01-01         NaN           X4   VVM10     0.9
33   2023-01-01         NaN           X4   DVM10   245.0
34   2023-01-01    10:48:00           X4   VVX10     3.6
35   2023-01-01    10:48:00           X4  DVVX10   224.0
36   2023-01-01         NaN           X8      TM    11.8
37   2023-01-01    11:50:00           X8      TX    16.1
38   2023-01-01    06:30:00           X8      TN     8.3
39   2023-01-01         NaN           X8     HRM    87.0
40   2023-01-01    22:30:00           X8     HRX   100.0
41   2023-01-01    08:43:00           X8     HRN    72.0
42   2023-01-01         NaN           X8      PM  1015.9
43   2023-01-01    10:30:00           X8      PX  1017.5
44   2023-01-01    23:59:00           X8      PN  1014.9
45   2023-01-01         NaN           X8     PPT     0.0
46   2023-01-01         NaN           X8   RS24h     4.6
47   2023-01-01         NaN           X8   VVM10     0.9
48   2023-01-01         NaN           X8   DVM10   289.0
49   2023-01-01    11:53:00           X8   VVX10     3.8
50   2023-01-01    11:53:00           X8  DVVX10   259.0

In [30]:
import pandas as pd
df_weather2023 = pd.read_csv('../../data/weather.csv')
df_weather2023

,Date,T_00h,T_01h,T_02h,T_03h,T_04h,T_05h,T_06h,T_07h,T_08h,...,R_14h,R_15h,R_16h,R_17h,R_18h,R_19h,R_20h,R_21h,R_22h,R_23h
0,01.01.2023,15,14,14,14,14,14,13,13,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02.01.2023,14,14,14,14,14,13,13,13,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,03.01.2023,14,14,14,14,13,13,13,13,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,04.01.2023,13,12,12,12,12,11,11,11,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,05.01.2023,12,12,12,11,11,11,11,11,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,27.12.2023,12,12,12,12,11,11,11,11,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358,28.12.2023,12,11,11,11,11,11,11,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359,29.12.2023,11,11,11,11,11,11,11,11,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
360,30.12.2023,12,12,11,11,11,11,11,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
361,31.12.2023,12,12,11,11,11,11,11,11,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,NaN,0.1

In [20]:
df_weather2023

,Date,T_00h,T_01h,T_02h,T_03h,T_04h,T_05h,T_06h,T_07h,T_08h,...,R_14h,R_15h,R_16h,R_17h,R_18h,R_19h,R_20h,R_21h,R_22h,R_23h
0,01.01.2023,15,14,14,14,14,14,13,13,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02.01.2023,14,14,14,14,14,13,13,13,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,03.01.2023,14,14,14,14,13,13,13,13,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,04.01.2023,13,12,12,12,12,11,11,11,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,05.01.2023,12,12,12,11,11,11,11,11,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,27.12.2023,12,12,12,12,11,11,11,11,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358,28.12.2023,12,11,11,11,11,11,11,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359,29.12.2023,11,11,11,11,11,11,11,11,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
360,30.12.2023,12,12,11,11,11,11,11,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
361,31.12.2023,12,12,11,11,11,11,11,11,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,NaN,0.1

In [23]:
df_weather2023[df_weather2023['Date'] == '31.07.2023']

,Date,T_00h,T_01h,T_02h,T_03h,T_04h,T_05h,T_06h,T_07h,T_08h,...,R_14h,R_15h,R_16h,R_17h,R_18h,R_19h,R_20h,R_21h,R_22h,R_23h
208,31.07.2023,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,NaN,NaN,NaN,NaN

In [25]:
# need new dataset where date should stay. Add Temperature and Rainfall and hour. and all the other columns should be rows, T_00h should add a row hour 0, and because it has a T should add value to temperature, and the same for Rainfall

df_weather_pivot = df_weather2023
#add columns for temperature and rainfall and hour
df_weather_pivot['Temperature'] = df_weather_pivot['T_00h']
df_weather_pivot

,Date,T_00h,T_01h,T_02h,T_03h,T_04h,T_05h,T_06h,T_07h,T_08h,...,R_15h,R_16h,R_17h,R_18h,R_19h,R_20h,R_21h,R_22h,R_23h,Temperature
0,01.01.2023,15,14,14,14,14,14,13,13,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
1,02.01.2023,14,14,14,14,14,13,13,13,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
2,03.01.2023,14,14,14,14,13,13,13,13,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
3,04.01.2023,13,12,12,12,12,11,11,11,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
4,05.01.2023,12,12,12,11,11,11,11,11,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,27.12.2023,12,12,12,12,11,11,11,11,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
358,28.12.2023,12,11,11,11,11,11,11,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
359,29.12.2023,11,11,11,11,11,11,11,11,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
360,30.12.2023,12,12,11,11,11,11,11,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
361,31.12.2023,12,12,11,11,11,11,11,11,11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.1,NaN,0.1,12

In [41]:
columns = list(df_weather2023.columns)
columns.remove('Date')
hour = 0
print(columns)

# need a dataset with date, hour, temperature and rainfall so from T_00H I should get hour = 0 and value = temperature = 15
df_w_column = df_weather2023[['Date', 'T_00h']]
df_w_column['Hour'] = 0
df_w_column['Temperature'] = df_w_column['T_00h']
df_w_column

# iterate over df_weather2023 columns not the date one
for col in df_weather2023.columns:
    if col == "Date":
        continue

['T_00h', 'T_01h', 'T_02h', 'T_03h', 'T_04h', 'T_05h', 'T_06h', 'T_07h', 'T_08h', 'T_09h', 'T_10h', 'T_11h', 'T_12h', 'T_13h', 'T_14h', 'T_15h', 'T_16h', 'T_17h', 'T_18h', 'T_19h', 'T_20h', 'T_21h', 'T_22h', 'T_23h', 'R_00h', 'R_01h', 'R_02h', 'R_03h', 'R_04h', 'R_05h', 'R_06h', 'R_07h', 'R_08h', 'R_09h', 'R_10h', 'R_11h', 'R_12h', 'R_13h', 'R_14h', 'R_15h', 'R_16h', 'R_17h', 'R_18h', 'R_19h', 'R_20h', 'R_21h', 'R_22h', 'R_23h']

/var/folders/1j/zxqksxbs0bg17c_9cj2hm8bh0000gn/T/ipykernel_15957/499628916.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_w_column['Hour'] = 0
/var/folders/1j/zxqksxbs0bg17c_9cj2hm8bh0000gn/T/ipykernel_15957/499628916.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_w_column['Temperature'] = df_w_column['T_00h']

In [47]:
# iterate over df_weather2023 columns not the date one
df_temperature = pd.DataFrame()
for col in df_weather2023.columns:
    new_df = pd.DataFrame()
    if col == "Date":
        continue
    new_df = df_weather2023[['Date', col]].copy()
    new_df['Hour'] = col.split('_')[1].split('h')[0]
    meassure_value = col.split('_')[0]
    if meassure_value == 'R':
        break
    new_df['Temperature'] = new_df[col]
    df_temperature = pd.concat([df_temperature, new_df])

df_temperature

,Date,T_00h,Hour,Temperature,T_01h,T_02h,T_03h,T_04h,T_05h,T_06h,...,T_14h,T_15h,T_16h,T_17h,T_18h,T_19h,T_20h,T_21h,T_22h,T_23h
0,01.01.2023,15,00,15,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02.01.2023,14,00,14,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,03.01.2023,14,00,14,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,04.01.2023,13,00,13,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,05.01.2023,12,00,12,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,27.12.2023,NaN,23,12,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
358,28.12.2023,NaN,23,12,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
359,29.12.2023,NaN,23,12,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
360,30.12.2023,NaN,23,12,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
361,31.12.2023,NaN,23,13,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13

In [42]:
'T_00h'.split('_')[1].split('h')[0]

'00'

In [45]:
df_temperature

,Date,T_00h,Hour,Temperature,T_01h,T_02h,T_03h,T_04h,T_05h,T_06h,...,T_14h,T_15h,T_16h,T_17h,T_18h,T_19h,T_20h,T_21h,T_22h,T_23h
0,01.01.2023,15,00,15,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02.01.2023,14,00,14,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,03.01.2023,14,00,14,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,04.01.2023,13,00,13,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,05.01.2023,12,00,12,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,27.12.2023,NaN,23,12,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
358,28.12.2023,NaN,23,12,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
359,29.12.2023,NaN,23,12,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
360,30.12.2023,NaN,23,12,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
361,31.12.2023,NaN,23,13,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13

In [48]:
# iterate over df_weather2023 columns not the date one
df_temperature = pd.DataFrame()
for col in df_weather2023.columns:
    if col == "Date":
        continue
    new_df = df_weather2023[['Date', col]].copy()
    new_df['Hour'] = col.split('_')[1].split('h')[0]
    meassure_value = col.split('_')[0]
    if meassure_value == 'R':
        break
    new_df['Temperature'] = new_df[col]
    new_df.drop(columns=[col], inplace=True)  # Drop the original column
    df_temperature = pd.concat([df_temperature, new_df])

df_temperature

           Date Hour Temperature
0    01.01.2023   00          15
1    02.01.2023   00          14
2    03.01.2023   00          14
3    04.01.2023   00          13
4    05.01.2023   00          12
..          ...  ...         ...
357  27.12.2023   23          12
358  28.12.2023   23          12
359  29.12.2023   23          12
360  30.12.2023   23          12
361  31.12.2023   23          13

[8688 rows x 3 columns]

In [49]:
# iterate over df_weather2023 columns not the date one
df_rainfall = pd.DataFrame()
for col in df_weather2023.columns:
    if col == "Date":
        continue
    new_df = df_weather2023[['Date', col]].copy()
    new_df['Hour'] = col.split('_')[1].split('h')[0]
    meassure_value = col.split('_')[0]
    if meassure_value == 'T':
        continue
    new_df['Rainfall'] = new_df[col]
    new_df.drop(columns=[col], inplace=True)  # Drop the original column
    df_rainfall = pd.concat([df_rainfall, new_df])

df_rainfall

           Date Hour Rainfall
0    01.01.2023   00      NaN
1    02.01.2023   00      NaN
2    03.01.2023   00      NaN
3    04.01.2023   00      NaN
4    05.01.2023   00      NaN
..          ...  ...      ...
357  27.12.2023   23      NaN
358  28.12.2023   23      NaN
359  29.12.2023   23      NaN
360  30.12.2023   23      NaN
361  31.12.2023   23      0.1

[8688 rows x 3 columns]

In [50]:
#replace nan with 0
df_rainfall.fillna(0, inplace=True)
df_rainfall

           Date Hour Rainfall
0    01.01.2023   00        0
1    02.01.2023   00        0
2    03.01.2023   00        0
3    04.01.2023   00        0
4    05.01.2023   00        0
..          ...  ...      ...
357  27.12.2023   23        0
358  28.12.2023   23        0
359  29.12.2023   23        0
360  30.12.2023   23        0
361  31.12.2023   23      0.1

[8688 rows x 3 columns]

In [51]:
df_temperature.isna().sum()

Date           0
Hour           0
Temperature    0
dtype: int64

In [52]:
#merge temperature and rainfall
df_weather = pd.merge(df_temperature, df_rainfall, on=['Date', 'Hour'])
df_weather

            Date Hour Temperature Rainfall
0     01.01.2023   00          15        0
1     02.01.2023   00          14        0
2     03.01.2023   00          14        0
3     04.01.2023   00          13        0
4     05.01.2023   00          12        0
...          ...  ...         ...      ...
8683  27.12.2023   23          12        0
8684  28.12.2023   23          12        0
8685  29.12.2023   23          12        0
8686  30.12.2023   23          12        0
8687  31.12.2023   23          13      0.1

[8688 rows x 4 columns]

In [57]:
df_weather[(df_weather['Temperature'] == "-") & (df_weather['Rainfall'] == "-")]

            Date Hour Temperature Rainfall
15    17.01.2023   00           -        -
208   31.07.2023   00           -        -
243   04.09.2023   00           -        -
377   17.01.2023   01           -        -
570   31.07.2023   01           -        -
...          ...  ...         ...      ...
8171  28.07.2023   22           -        -
8206  03.09.2023   22           -        -
8340  15.01.2023   23           -        -
8533  28.07.2023   23           -        -
8568  03.09.2023   23           -        -

[118 rows x 4 columns]

In [58]:
# delete rows with missing meassurements temperature="-" and rainfall="-"
df_weather = df_weather[(df_weather['Temperature'] != "-") & (df_weather['Rainfall'] != "-")]
df_weather

            Date Hour Temperature Rainfall
0     01.01.2023   00          15        0
1     02.01.2023   00          14        0
2     03.01.2023   00          14        0
3     04.01.2023   00          13        0
4     05.01.2023   00          12        0
...          ...  ...         ...      ...
8683  27.12.2023   23          12        0
8684  28.12.2023   23          12        0
8685  29.12.2023   23          12        0
8686  30.12.2023   23          12        0
8687  31.12.2023   23          13      0.1

[8570 rows x 4 columns]

In [59]:
df_weather.to_csv('../../data/weather_clean.csv', index=False)

In [61]:
df_march = pd.read_csv('../../data/bicing/processed/months/2023_05_STATIONS.csv')
df_march

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,status,is_renting,is_returning,year,month,day,hour,grouped_minute,day_of_week,is_weekend,grouped_date
0,1,12,3,9,32,IN_SERVICE,1,1,2023,4,30,21,45,6,1,2023-4-30 21:45
1,2,8,1,7,21,IN_SERVICE,1,1,2023,4,30,21,45,6,1,2023-4-30 21:45
2,3,23,23,0,3,IN_SERVICE,1,1,2023,4,30,21,45,6,1,2023-4-30 21:45
3,4,12,12,0,8,IN_SERVICE,1,1,2023,4,30,21,45,6,1,2023-4-30 21:45
4,5,37,37,0,2,IN_SERVICE,1,1,2023,4,30,21,45,6,1,2023-4-30 21:45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2503085,515,12,6,6,12,IN_SERVICE,1,1,2023,5,31,22,0,2,0,2023-5-31 22:00
2503086,516,13,10,3,8,IN_SERVICE,1,1,2023,5,31,22,0,2,0,2023-5-31 22:00
2503087,518,3,0,3,24,IN_SERVICE,1,1,2023,5,31,22,0,2,0,2023-5-31 22:00
2503088,519,5,0,5,18,IN_SERVICE,1,1,2023,5,31,22,0,2,0,2023-5-31 22:00
2503089,520,4,0,4,0,IN_SERVICE,1,1,2023,5,31,22,0,2,0,2023-5-31 22:00

In [71]:
df_weather = pd.read_csv('../../data/weather_clean.csv')
df_weather

            Date  Hour  Temperature  Rainfall
0     01.01.2023     0           15       0.0
1     02.01.2023     0           14       0.0
2     03.01.2023     0           14       0.0
3     04.01.2023     0           13       0.0
4     05.01.2023     0           12       0.0
...          ...   ...          ...       ...
8565  27.12.2023    23           12       0.0
8566  28.12.2023    23           12       0.0
8567  29.12.2023    23           12       0.0
8568  30.12.2023    23           12       0.0
8569  31.12.2023    23           13       0.1

[8570 rows x 4 columns]

In [74]:
df_weather.info()
df_weather['day'] = df_weather['Date'].apply(lambda x: x.split('.')[0]).astype(int)
df_weather['month'] = df_weather['Date'].apply(lambda x: x.split('.')[1]).astype(int)
df_weather['year'] = df_weather['Date'].apply(lambda x: x.split('.')[2]).astype(int)
df_weather['hour'] = df_weather['Hour'].astype(int)
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8570 entries, 0 to 8569
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         8570 non-null   object
 1   Hour         8570 non-null   int64
 2   Temperature  8570 non-null   int64
 3   Rainfall     8570 non-null   float64
 4   day          8570 non-null   int64
 5   month        8570 non-null   int64
 6   year         8570 non-null   int64
dtypes: float64(1), int64(5), object(1)
memory usage: 468.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8570 entries, 0 to 8569
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         8570 non-null   object
 1   Hour         8570 non-null   int64
 2   Temperature  8570 non-null   int64
 3   Rainfall     8570 non-null   float64
 4   day          8570 non-null   int64
 5   month        8570 non-null   int64
 6   year         8570 non-null   int64
 7   hour         8570 non-null   int64
dtypes: float64(1), int64(6), object(1)
memory usage: 535.8+ KB

In [68]:
df_march.columns

Index(['station_id', 'num_bikes_available',
       'num_bikes_available_types.mechanical',
       'num_bikes_available_types.ebike', 'num_docks_available', 'status',
       'is_renting', 'is_returning', 'year', 'month', 'day', 'hour',
       'grouped_minute', 'day_of_week', 'is_weekend', 'grouped_date'],
      dtype='object')

In [77]:
#add weather to bicing
df_march_weather = pd.merge(df_march, df_weather, on=['year','month', 'day', 'hour'], how='left')
df_march_weather
#2503090

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,status,is_renting,is_returning,year,month,day,hour,grouped_minute,day_of_week,is_weekend,grouped_date,Date,Hour,Temperature,Rainfall
0,1,12,3,9,32,IN_SERVICE,1,1,2023,4,30,21,45,6,1,2023-4-30 21:45,30.04.2023,21,18,0.0
1,2,8,1,7,21,IN_SERVICE,1,1,2023,4,30,21,45,6,1,2023-4-30 21:45,30.04.2023,21,18,0.0
2,3,23,23,0,3,IN_SERVICE,1,1,2023,4,30,21,45,6,1,2023-4-30 21:45,30.04.2023,21,18,0.0
3,4,12,12,0,8,IN_SERVICE,1,1,2023,4,30,21,45,6,1,2023-4-30 21:45,30.04.2023,21,18,0.0
4,5,37,37,0,2,IN_SERVICE,1,1,2023,4,30,21,45,6,1,2023-4-30 21:45,30.04.2023,21,18,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2503085,515,12,6,6,12,IN_SERVICE,1,1,2023,5,31,22,0,2,0,2023-5-31 22:00,31.05.2023,22,21,0.0
2503086,516,13,10,3,8,IN_SERVICE,1,1,2023,5,31,22,0,2,0,2023-5-31 22:00,31.05.2023,22,21,0.0
2503087,518,3,0,3,24,IN_SERVICE,1,1,2023,5,31,22,0,2,0,2023-5-31 22:00,31.05.2023,22,21,0.0
2503088,519,5,0,5,18,IN_SERVICE,1,1,2023,5,31,22,0,2,0,2023-5-31 22:00,31.05.2023,22,21,0.0
2503089,520,4,0,4,0,IN_SERVICE,1,1,2023,5,31,22,0,2,0,2023-5-31 22:00,31.05.2023,22,21,0.0

In [78]:
df_march_weather.iloc[3]

station_id                                            4
num_bikes_available                                  12
num_bikes_available_types.mechanical                 12
num_bikes_available_types.ebike                       0
num_docks_available                                   8
status                                       IN_SERVICE
is_renting                                            1
is_returning                                          1
year                                               2023
month                                                 4
day                                                  30
hour                                                 21
grouped_minute                                       45
day_of_week                                           6
is_weekend                                            1
grouped_date                            2023-4-30 21:45
Date                                         30.04.2023
Hour                                                 21
Temperature                                          18
Rainfall                                            0.0
Name: 3, dtype: object

In [79]:
df_march_weather.isna().sum()

station_id                              0
num_bikes_available                     0
num_bikes_available_types.mechanical    0
num_bikes_available_types.ebike         0
num_docks_available                     0
status                                  0
is_renting                              0
is_returning                            0
year                                    0
month                                   0
day                                     0
hour                                    0
grouped_minute                          0
day_of_week                             0
is_weekend                              0
grouped_date                            0
Date                                    0
Hour                                    0
Temperature                             0
Rainfall                                0
dtype: int64

In [82]:
df_march_weather[df_march_weather['Rainfall'] > 0 ]

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,status,is_renting,is_returning,year,month,day,hour,grouped_minute,day_of_week,is_weekend,grouped_date,Date,Hour,Temperature,Rainfall
34582,1,7,7,0,38,IN_SERVICE,1,1,2023,5,1,10,0,0,0,2023-5-1 10:00,01.05.2023,10,16,1.3
34583,2,17,16,1,12,IN_SERVICE,1,1,2023,5,1,10,0,0,0,2023-5-1 10:00,01.05.2023,10,16,1.3
34584,3,26,26,0,0,IN_SERVICE,1,1,2023,5,1,10,0,0,0,2023-5-1 10:00,01.05.2023,10,16,1.3
34585,4,17,16,1,2,IN_SERVICE,1,1,2023,5,1,10,0,0,0,2023-5-1 10:00,01.05.2023,10,16,1.3
34586,5,36,35,1,3,IN_SERVICE,1,1,2023,5,1,10,0,0,0,2023-5-1 10:00,01.05.2023,10,16,1.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2415945,509,2,1,1,18,IN_SERVICE,1,1,2023,5,30,22,45,1,0,2023-5-30 22:45,30.05.2023,22,21,0.3
2415946,510,21,20,1,5,IN_SERVICE,1,1,2023,5,30,22,45,1,0,2023-5-30 22:45,30.05.2023,22,21,0.3
2415947,511,4,0,4,14,IN_SERVICE,1,1,2023,5,30,22,45,1,0,2023-5-30 22:45,30.05.2023,22,21,0.3
2415948,514,6,6,0,10,IN_SERVICE,1,1,2023,5,30,22,45,1,0,2023-5-30 22:45,30.05.2023,22,21,0.3
2415949,520,7,0,7,0,IN_SERVICE,1,1,2023,5,30,22,45,1,0,2023-5-30 22:45,30.05.2023,22,21,0.3

In [76]:
import pandas as pd
df_weather = pd.read_csv('../../data/weather_clean.csv')
df_weather.head(20)

          Date  hour  temperature  rainfall        date
0   01.01.2023     0           15         0  01.01.2023
1   01.01.2023     1           14         0  01.01.2023
2   01.01.2023     2           14         0  01.01.2023
3   01.01.2023     3           14         0  01.01.2023
4   01.01.2023     4           14         0  01.01.2023
5   01.01.2023     5           14         0  01.01.2023
6   01.01.2023     6           13         0  01.01.2023
7   01.01.2023     7           13         0  01.01.2023
8   01.01.2023     8           13         0  01.01.2023
9   01.02.2023     0            9         0  01.02.2023
10  01.02.2023     1            9         0  01.02.2023
11  01.02.2023     2            8         0  01.02.2023
12  01.02.2023     3            8         0  01.02.2023
13  01.02.2023     4            8         0  01.02.2023
14  01.02.2023     5            8         0  01.02.2023
15  01.02.2023     6            7         0  01.02.2023
16  01.02.2023     7            7         0  01.02.2023
17  01.02.2023     8            7         0  01.02.2023
18  01.03.2023     0            9         0  01.03.2023
19  01.03.2023     1            9         0  01.03.2023

In [72]:
import plotly.express as px

#plot hotest days of the year 
df_hotest_days = df_weather.groupby('date')['temperature'].max().reset_index()
df_hotest_days.sort_values('temperature', ascending=False, inplace=True)
df_top_ten_hottest = df_hotest_days.head(10)

px.bar(df_top_ten_hottest, x='date', y='temperature', title='Top 10 hottest days of the year', range_color=[0, 40])

In [78]:
df_weather_max_temp_day = weather_df.groupby('date')['temperature'].max().reset_index(name='temperature')
df_weather_mintemp_day = weather_df.groupby('date')['temperature'].min().reset_index(name='temperature')
df_weather_max_min_temp_day = pd.DataFrame()
df_weather_max_min_temp_day['date'] = df_weather_max_temp_day['date']
df_weather_max_min_temp_day['temperature_max'] = df_weather_max_temp_day['temperature']
df_weather_max_min_temp_day['temperature_min'] = df_weather_mintemp_day['temperature']
df_weather_max_min_temp_day

fig = px.line(df_weather_max_min_temp_day, x='date', y=['temperature_min', 'temperature_max'],
              labels={'value': 'Temperature', 'variable': 'Temperature Type'},
              title='Min and Max Temperatures Over Time')
fig.show()

In [36]:
df_weather_max_temp_day, df_weather_mintemp_day
#draw a plot with both temperatures
px.area(df_weather_max_temp_day, x='date', y='temperature', title='Temperature over the year').add_scatter(x=df_weather_mintemp_day['date'], y=df_weather_mintemp_day['temperature'], mode='lines')

In [75]:
df_weather_max_min_temp_day.head(20)

          date  temperature_max  temperature_min
0   01.01.2023               15               13
1   01.02.2023                9                7
2   01.03.2023                9                5
3   01.04.2023               15               14
4   01.05.2023               17               17
5   01.06.2023               20               20
6   01.07.2023               23               20
7   01.08.2023               26               25
8   01.09.2023               25               24
9   01.10.2023               26               24
10  01.11.2023               18               16
11  01.12.2023               18               17
12  02.01.2023               14               13
13  02.02.2023               10                7
14  02.03.2023                9                8
15  02.04.2023               13               10
16  02.05.2023               16               15
17  02.06.2023               20               19
18  02.07.2023               24               22
19  02.08.2023               26               25

In [48]:
df_weather[df_weather['date'] == '01.08.2023']

            date  hour  temperature  rainfall
207   01.08.2023     0           26       0.0
566   01.08.2023     1           26       0.0
923   01.08.2023     2           26       0.0
1281  01.08.2023     3           26       0.0
1638  01.08.2023     4           26       0.0
1995  01.08.2023     5           25       0.0
2352  01.08.2023     6           25       0.0
2709  01.08.2023     7           25       0.0
3066  01.08.2023     8           26       0.0
3422  01.08.2023     9           26       0.0
3778  01.08.2023    10           27       0.0
4134  01.08.2023    11           28       0.1
4490  01.08.2023    12           28       0.0
4846  01.08.2023    13           27       0.0
5202  01.08.2023    14           28       0.0
5558  01.08.2023    15           28       0.0
5914  01.08.2023    16           27       0.0
6270  01.08.2023    17           27       0.0
6626  01.08.2023    18           27       0.0
6983  01.08.2023    19           26       0.0
7341  01.08.2023    20           26       0.0
7700  01.08.2023    21           25       0.0
8059  01.08.2023    22           25       0.0
8418  01.08.2023    23           25       0.0

In [159]:
import pandas as pd
df_weather2023 = pd.read_csv('../../data/other/weather.csv')
df_weather2023

,date,T_00h,T_01h,T_02h,T_03h,T_04h,T_05h,T_06h,T_07h,T_08h,...,R_14h,R_15h,R_16h,R_17h,R_18h,R_19h,R_20h,R_21h,R_22h,R_23h
0,01.01.2023,15,14,14,14,14,14,13,13,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02.01.2023,14,14,14,14,14,13,13,13,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,03.01.2023,14,14,14,14,13,13,13,13,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,04.01.2023,13,12,12,12,12,11,11,11,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,05.01.2023,12,12,12,11,11,11,11,11,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,27.12.2023,12,12,12,12,11,11,11,11,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358,28.12.2023,12,11,11,11,11,11,11,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359,29.12.2023,11,11,11,11,11,11,11,11,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
360,30.12.2023,12,12,11,11,11,11,11,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
361,31.12.2023,12,12,11,11,11,11,11,11,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,NaN,0.1

In [158]:
#select all columns starting with T_
df_temperature = df_weather2023.filter(regex='T_')
df_temperature

,T_00h,T_01h,T_02h,T_03h,T_04h,T_05h,T_06h,T_07h,T_08h,T_09h,...,T_14h,T_15h,T_16h,T_17h,T_18h,T_19h,T_20h,T_21h,T_22h,T_23h
0,15,14,14,14,14,14,13,13,13,13,...,16,17,16,15,15,15,15,14,14,14
1,14,14,14,14,14,13,13,13,13,13,...,16,16,16,16,16,15,15,14,14,14
2,14,14,14,14,13,13,13,13,13,13,...,15,15,15,14,14,14,14,13,13,13
3,13,12,12,12,12,11,11,11,11,11,...,15,15,15,15,14,14,14,14,13,13
4,12,12,12,11,11,11,11,11,10,11,...,15,16,16,15,14,14,14,13,13,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,12,12,12,12,11,11,11,11,11,11,...,15,15,15,14,14,13,13,13,12,12
358,12,11,11,11,11,11,11,10,10,10,...,13,13,13,13,13,13,13,12,12,12
359,11,11,11,11,11,11,11,11,11,11,...,14,14,14,13,13,13,13,13,12,12
360,12,12,11,11,11,11,11,10,10,10,...,14,14,14,14,13,13,13,13,12,12
361,12,12,11,11,11,11,11,11,11,12,...,16,16,15,15,15,14,14,13,13,13

In [160]:
#unpivot the table
temperature_df = df_weather2023.melt(id_vars=['date'], value_vars=[col for col in df_weather2023.columns if col.startswith('T_')],
                         var_name='hour', value_name='temperature')
print(len(temperature_df))
rainfall_df = df_weather2023.melt(id_vars=['date'], value_vars=[col for col in df_weather2023.columns if col.startswith('R_')],
                      var_name='hour', value_name='rainfall')

#format the hour column
temperature_df['hour'] = temperature_df['hour'].str.extract('T_(\d+)h').astype(int)
rainfall_df['hour'] = rainfall_df['hour'].str.extract('R_(\d+)h').astype(int)

weather_df = pd.merge(temperature_df, rainfall_df, on=['date', 'hour'], how='left')


#convert date DD MM YYYY to date time
weather_df['date'] = pd.to_datetime(weather_df['date'], format='%d.%m.%Y')

#Sort DF
weather_df = weather_df.sort_values(['date', 'hour']).reset_index(drop=True)

#replace nan values with 0 for rainfall

weather_df['rainfall'].fillna(0, inplace=True)

#remove records with temperature and rainfall = '-'
weather_df = weather_df[(weather_df['temperature'] != '-') & (weather_df['rainfall'] != '-')]



weather_df.to_csv('../../data/weather_clean.csv', index=False)


weather_df.head(50)

8688

/var/folders/1j/zxqksxbs0bg17c_9cj2hm8bh0000gn/T/ipykernel_16195/2490772475.py:23: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

         date  hour temperature rainfall
0  2023-01-01     0          15        0
1  2023-01-01     1          14        0
2  2023-01-01     2          14        0
3  2023-01-01     3          14        0
4  2023-01-01     4          14        0
5  2023-01-01     5          14        0
6  2023-01-01     6          13        0
7  2023-01-01     7          13        0
8  2023-01-01     8          13        0
9  2023-01-01     9          13        0
10 2023-01-01    10          14        0
11 2023-01-01    11          15        0
12 2023-01-01    12          16        0
13 2023-01-01    13          16        0
14 2023-01-01    14          16        0
15 2023-01-01    15          17        0
16 2023-01-01    16          16        0
17 2023-01-01    17          15        0
18 2023-01-01    18          15        0
19 2023-01-01    19          15        0
20 2023-01-01    20          15        0
21 2023-01-01    21          14        0
22 2023-01-01    22          14        0
23 2023-01-01    23          14        0
24 2023-01-02     0          14        0
25 2023-01-02     1          14        0
26 2023-01-02     2          14        0
27 2023-01-02     3          14        0
28 2023-01-02     4          14        0
29 2023-01-02     5          13        0
30 2023-01-02     6          13        0
31 2023-01-02     7          13        0
32 2023-01-02     8          13        0
33 2023-01-02     9          13        0
34 2023-01-02    10          14        0
35 2023-01-02    11          14        0
36 2023-01-02    12          15        0
37 2023-01-02    13          16        0
38 2023-01-02    14          16        0
39 2023-01-02    15          16        0
40 2023-01-02    16          16        0
41 2023-01-02    17          16        0
42 2023-01-02    18          16        0
43 2023-01-02    19          15        0
44 2023-01-02    20          15        0
45 2023-01-02    21          14        0
46 2023-01-02    22          14        0
47 2023-01-02    23          14        0
48 2023-01-03     0          14        0
49 2023-01-03     1          14        0

In [153]:
temperature_df.sort_values(['date','hour'], ascending=[True, True]).reset_index(drop=True).head(24)

          date  hour temperature
0   01.01.2023     0          15
1   01.01.2023     1          14
2   01.01.2023     2          14
3   01.01.2023     3          14
4   01.01.2023     4          14
5   01.01.2023     5          14
6   01.01.2023     6          13
7   01.01.2023     7          13
8   01.01.2023     8          13
9   01.02.2023     0           9
10  01.02.2023     1           9
11  01.02.2023     2           8
12  01.02.2023     3           8
13  01.02.2023     4           8
14  01.02.2023     5           8
15  01.02.2023     6           7
16  01.02.2023     7           7
17  01.02.2023     8           7
18  01.03.2023     0           9
19  01.03.2023     1           9
20  01.03.2023     2           8
21  01.03.2023     3           7
22  01.03.2023     4           7
23  01.03.2023     5           7

In [91]:
df_w = pd.read_csv('../../data/weather_clean.csv')
df_w
#rainfall mm/1h

            date  hour  temperature  rainfall
0     2023-01-01     0           15       0.0
1     2023-01-01     1           14       0.0
2     2023-01-01     2           14       0.0
3     2023-01-01     3           14       0.0
4     2023-01-01     4           14       0.0
...          ...   ...          ...       ...
3212  2023-12-31     4           11       0.0
3213  2023-12-31     5           11       0.0
3214  2023-12-31     6           11       0.0
3215  2023-12-31     7           11       0.0
3216  2023-12-31     8           11       0.0

[3217 rows x 4 columns]

In [107]:
df_weather_max_temp_day = df_w.groupby('date')['temperature'].max().reset_index(name='temperature')
df_weather_mintemp_day = df_w.groupby('date')['temperature'].min().reset_index(name='temperature')
df_weather_max_min_temp_day = pd.DataFrame()
df_weather_max_min_temp_day['date'] = df_weather_max_temp_day['date']
df_weather_max_min_temp_day['temperature_max'] = df_weather_max_temp_day['temperature']
df_weather_max_min_temp_day['temperature_min'] = df_weather_mintemp_day['temperature']
df_weather_max_min_temp_day

fig = px.line(df_weather_max_min_temp_day, x='date', y=['temperature_min', 'temperature_max'],
              labels={'value': 'Temperature', 'variable': 'Temperature'},
              title='Min and Max Temperatures Over Time in Barcelona', width=1200, height=400)

# Customize the legend names
fig.for_each_trace(lambda t: t.update(name={
    'temperature_min': 'Min  🥶',
    'temperature_max': 'Max 🥵'
}.get(t.name, t.name)))
fig.show()

In [104]:
import plotly.express as px

rainfall_df = df_w.groupby('date')['rainfall'].sum().reset_index(name='rainfall')

px.line(rainfall_df, x='date', y='rainfall', title='Rainfall over the year in Barcelona')

In [183]:
# merge bicing and weather

df_march = pd.read_csv('../../data/bicing/processed/months/2023_03_STATIONS.csv')
df_march

df_weather = pd.read_csv('../../data/weather_clean.csv', parse_dates=['date'])
df_weather

           date  hour  temperature  rainfall
0    2023-01-01     0           15       0.0
1    2023-01-01     1           14       0.0
2    2023-01-01     2           14       0.0
3    2023-01-01     3           14       0.0
4    2023-01-01     4           14       0.0
...         ...   ...          ...       ...
8565 2023-12-31    19           14       0.0
8566 2023-12-31    20           14       0.0
8567 2023-12-31    21           13       0.1
8568 2023-12-31    22           13       0.0
8569 2023-12-31    23           13       0.1

[8570 rows x 4 columns]

In [184]:
df_weather['day'] = df_weather['date'].dt.day.astype(int)
df_weather['month'] = df_weather['date'].dt.month.astype(int)
df_weather['year'] = df_weather['date'].dt.year.astype(int)
df_weather['hour'] = df_weather['hour'].astype(int)
df_weather[df_weather['month'] == 3]

           date  hour  temperature  rainfall  day  month  year
1351 2023-03-01     0            9       0.0    1      3  2023
1352 2023-03-01     1            9       0.0    1      3  2023
1353 2023-03-01     2            8       0.0    1      3  2023
1354 2023-03-01     3            7       0.0    1      3  2023
1355 2023-03-01     4            7       0.0    1      3  2023
...         ...   ...          ...       ...  ...    ...   ...
2089 2023-03-31    19           15       0.0   31      3  2023
2090 2023-03-31    20           15       0.0   31      3  2023
2091 2023-03-31    21           16       0.0   31      3  2023
2092 2023-03-31    22           15       0.0   31      3  2023
2093 2023-03-31    23           15       0.0   31      3  2023

[743 rows x 7 columns]

In [185]:
df_march_weather = pd.merge(df_march, df_weather, on=['year', 'month', 'day', 'hour'], how='left')
#df_march['grouped_date'] = pd.to_datetime(df_march['grouped_date'])
#df_march_weather = pd.merge(df_march, df_weather, how='left', left_on='grouped_date', right_on='date')
df_march_weather

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,status,is_renting,is_returning,year,month,...,day_of_week,is_weekend,grouped_date,docking_available,bikes_available,bikes_available.mechanical,bikes_available.ebike,date,temperature,rainfall
0,1,35,32,3,11,IN_SERVICE,1,1,2023,2,...,1,0,2023-2-28 22:45,True,True,True,True,2023-02-28,11,0.0
1,2,6,6,0,23,IN_SERVICE,1,1,2023,2,...,1,0,2023-2-28 22:45,True,True,True,False,2023-02-28,11,0.0
2,3,18,17,1,9,IN_SERVICE,1,1,2023,2,...,1,0,2023-2-28 22:45,True,True,True,True,2023-02-28,11,0.0
3,4,2,0,2,19,IN_SERVICE,1,1,2023,2,...,1,0,2023-2-28 22:45,True,True,False,True,2023-02-28,11,0.0
4,5,14,14,0,25,IN_SERVICE,1,1,2023,2,...,1,0,2023-2-28 22:45,True,True,True,False,2023-02-28,11,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494349,508,10,2,8,15,IN_SERVICE,1,1,2023,3,...,4,0,2023-3-31 22:00,True,True,True,True,2023-03-31,15,0.0
2494350,509,8,4,4,19,IN_SERVICE,1,1,2023,3,...,4,0,2023-3-31 22:00,True,True,True,True,2023-03-31,15,0.0
2494351,511,5,0,5,13,IN_SERVICE,1,1,2023,3,...,4,0,2023-3-31 22:00,True,True,False,True,2023-03-31,15,0.0
2494352,513,10,1,9,14,IN_SERVICE,1,1,2023,3,...,4,0,2023-3-31 22:00,True,True,True,True,2023-03-31,15,0.0
2494353,514,2,1,1,16,IN_SERVICE,1,1,2023,3,...,4,0,2023-3-31 22:00,True,True,True,True,2023-03-31,15,0.0

In [135]:
df_march_weather['temperature'].unique()

array([nan, 17., 16., 15., 18., 19., 20., 14., 13., 10., 21.])

In [147]:
df_weather[(df_weather['month'] == 4) & df_weather['day'] == 30]

Empty DataFrame
Columns: [date, hour, temperature, rainfall, year, month, day]
Index: []

In [186]:
df_weather = pd.read_csv('../../data/weather_clean.csv')
df_weather[df_weather['date'] == '2023-04-30']
df_weather['year'] = df_weather['date'].apply(lambda x: x.split('-')[0]).astype(int)
df_weather['month'] = df_weather['date'].apply(lambda x: x.split('-')[1]).astype(int)
df_weather['day'] = df_weather['date'].apply(lambda x: x.split('-')[2]).astype(int)
df_weather['hour'] = df_weather['hour'].astype(int)
df_weather

            date  hour  temperature  rainfall  year  month  day
0     2023-01-01     0           15       0.0  2023      1    1
1     2023-01-01     1           14       0.0  2023      1    1
2     2023-01-01     2           14       0.0  2023      1    1
3     2023-01-01     3           14       0.0  2023      1    1
4     2023-01-01     4           14       0.0  2023      1    1
...          ...   ...          ...       ...   ...    ...  ...
8565  2023-12-31    19           14       0.0  2023     12   31
8566  2023-12-31    20           14       0.0  2023     12   31
8567  2023-12-31    21           13       0.1  2023     12   31
8568  2023-12-31    22           13       0.0  2023     12   31
8569  2023-12-31    23           13       0.1  2023     12   31

[8570 rows x 7 columns]

In [148]:
df_weather[df_weather['date'] == '2023-04-30']

            date  hour  temperature  rainfall  year  month  day
1045  2023-04-30     0           19       0.1  2023      4   30
1046  2023-04-30     1           19       0.2  2023      4   30
1047  2023-04-30     2           18       0.6  2023      4   30
1048  2023-04-30     3           18       0.0  2023      4   30
1049  2023-04-30     4           18       0.0  2023      4   30
1050  2023-04-30     5           18       0.0  2023      4   30
1051  2023-04-30     6           18       0.0  2023      4   30
1052  2023-04-30     7           18       0.0  2023      4   30
1053  2023-04-30     8           18       0.0  2023      4   30

In [149]:
df_march_weather = pd.merge(df_march, df_weather, on=['year', 'month', 'day', 'hour'], how='left')
df_march_weather

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,status,is_renting,is_returning,year,month,day,hour,grouped_minute,day_of_week,is_weekend,grouped_date,date,temperature,rainfall
0,1,12,3,9,32,IN_SERVICE,1,1,2023,4,30,21,45,6,1,2023-04-30 21:45:00,NaN,NaN,NaN
1,2,8,1,7,21,IN_SERVICE,1,1,2023,4,30,21,45,6,1,2023-04-30 21:45:00,NaN,NaN,NaN
2,3,23,23,0,3,IN_SERVICE,1,1,2023,4,30,21,45,6,1,2023-04-30 21:45:00,NaN,NaN,NaN
3,4,12,12,0,8,IN_SERVICE,1,1,2023,4,30,21,45,6,1,2023-04-30 21:45:00,NaN,NaN,NaN
4,5,37,37,0,2,IN_SERVICE,1,1,2023,4,30,21,45,6,1,2023-04-30 21:45:00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2503085,515,12,6,6,12,IN_SERVICE,1,1,2023,5,31,22,0,2,0,2023-05-31 22:00:00,NaN,NaN,NaN
2503086,516,13,10,3,8,IN_SERVICE,1,1,2023,5,31,22,0,2,0,2023-05-31 22:00:00,NaN,NaN,NaN
2503087,518,3,0,3,24,IN_SERVICE,1,1,2023,5,31,22,0,2,0,2023-05-31 22:00:00,NaN,NaN,NaN
2503088,519,5,0,5,18,IN_SERVICE,1,1,2023,5,31,22,0,2,0,2023-05-31 22:00:00,NaN,NaN,NaN
2503089,520,4,0,4,0,IN_SERVICE,1,1,2023,5,31,22,0,2,0,2023-05-31 22:00:00,NaN,NaN,NaN

In [145]:
df_march_weather

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,status,is_renting,is_returning,year,month,day,hour,grouped_minute,day_of_week,is_weekend,grouped_date,date,temperature,rainfall
0,1,12,3,9,32,IN_SERVICE,1,1,2023,4,30,21,45,6,1,2023-04-30 21:45:00,NaN,NaN,NaN
1,2,8,1,7,21,IN_SERVICE,1,1,2023,4,30,21,45,6,1,2023-04-30 21:45:00,NaN,NaN,NaN
2,3,23,23,0,3,IN_SERVICE,1,1,2023,4,30,21,45,6,1,2023-04-30 21:45:00,NaN,NaN,NaN
3,4,12,12,0,8,IN_SERVICE,1,1,2023,4,30,21,45,6,1,2023-04-30 21:45:00,NaN,NaN,NaN
4,5,37,37,0,2,IN_SERVICE,1,1,2023,4,30,21,45,6,1,2023-04-30 21:45:00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2503085,515,12,6,6,12,IN_SERVICE,1,1,2023,5,31,22,0,2,0,2023-05-31 22:00:00,NaN,NaN,NaN
2503086,516,13,10,3,8,IN_SERVICE,1,1,2023,5,31,22,0,2,0,2023-05-31 22:00:00,NaN,NaN,NaN
2503087,518,3,0,3,24,IN_SERVICE,1,1,2023,5,31,22,0,2,0,2023-05-31 22:00:00,NaN,NaN,NaN
2503088,519,5,0,5,18,IN_SERVICE,1,1,2023,5,31,22,0,2,0,2023-05-31 22:00:00,NaN,NaN,NaN
2503089,520,4,0,4,0,IN_SERVICE,1,1,2023,5,31,22,0,2,0,2023-05-31 22:00:00,NaN,NaN,NaN

In [164]:
df_march_weather.isna().sum()

station_id                              0
num_bikes_available                     0
num_bikes_available_types.mechanical    0
num_bikes_available_types.ebike         0
num_docks_available                     0
status                                  0
is_renting                              0
is_returning                            0
year                                    0
month                                   0
day                                     0
hour                                    0
grouped_minute                          0
day_of_week                             0
is_weekend                              0
grouped_date                            0
date                                    0
temperature                             0
rainfall                                0
dtype: int64

In [187]:
#add usage to the dataset
df_march_weather['usage'] = df_march_weather.groupby(
            ['station_id'])['num_bikes_available'].diff()
df_march_weather['usage'] = df_march_weather['usage'].apply(
            lambda x: abs(x))

df_march_weather

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,status,is_renting,is_returning,year,month,...,is_weekend,grouped_date,docking_available,bikes_available,bikes_available.mechanical,bikes_available.ebike,date,temperature,rainfall,usage
0,1,35,32,3,11,IN_SERVICE,1,1,2023,2,...,0,2023-2-28 22:45,True,True,True,True,2023-02-28,11,0.0,NaN
1,2,6,6,0,23,IN_SERVICE,1,1,2023,2,...,0,2023-2-28 22:45,True,True,True,False,2023-02-28,11,0.0,NaN
2,3,18,17,1,9,IN_SERVICE,1,1,2023,2,...,0,2023-2-28 22:45,True,True,True,True,2023-02-28,11,0.0,NaN
3,4,2,0,2,19,IN_SERVICE,1,1,2023,2,...,0,2023-2-28 22:45,True,True,False,True,2023-02-28,11,0.0,NaN
4,5,14,14,0,25,IN_SERVICE,1,1,2023,2,...,0,2023-2-28 22:45,True,True,True,False,2023-02-28,11,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494349,508,10,2,8,15,IN_SERVICE,1,1,2023,3,...,0,2023-3-31 22:00,True,True,True,True,2023-03-31,15,0.0,1.0
2494350,509,8,4,4,19,IN_SERVICE,1,1,2023,3,...,0,2023-3-31 22:00,True,True,True,True,2023-03-31,15,0.0,1.0
2494351,511,5,0,5,13,IN_SERVICE,1,1,2023,3,...,0,2023-3-31 22:00,True,True,False,True,2023-03-31,15,0.0,2.0
2494352,513,10,1,9,14,IN_SERVICE,1,1,2023,3,...,0,2023-3-31 22:00,True,True,True,True,2023-03-31,15,0.0,1.0
2494353,514,2,1,1,16,IN_SERVICE,1,1,2023,3,...,0,2023-3-31 22:00,True,True,True,True,2023-03-31,15,0.0,2.0

In [182]:
df_march_weather[df_march_weather['month'] == 3]

KeyError: 'month'

In [199]:
import plotly.express as px

df_b = df_march_weather.groupby('date')['usage'].sum().reset_index()
# add day of the week like "Sunday", "Monday", etc.
df_b['day_of_week'] = df_b['date'].dt.day_name()

fig = px.line(df_b, x='date', y='usage', title='Bicing usage over the month of March 2023', markers=True, hover_data=['date', 'usage','day_of_week'])

# Identify weekends
weekends = pd.date_range(start='2023-03-01', end='2023-03-31', freq='W-SAT').tolist() + \
           pd.date_range(start='2023-03-01', end='2023-03-31', freq='W-SUN').tolist()

# Ensure weekends are in pairs
weekends.sort()
weekend_pairs = [(weekends[i], weekends[i + 1]) for i in range(0, len(weekends), 2)]

# Add vertical rectangles for weekends
show_legend_added = False
for start, end in weekend_pairs:
    fig.add_vrect(
        x0=start, x1=end,
        fillcolor="turquoise", opacity=0.5,
        layer="below", line_width=0,
    )

fig.add_scatter(
    x=[None], y=[None],
    mode='markers',
    marker=dict(color='turquoise', size=10),
    showlegend=True,
    name='Weekend Days'
)


fig.show()

In [226]:
import plotly.express as px

df_weekend = df_march_weather[df_march_weather['is_weekend'] == 1].groupby('hour')['usage'].sum().reset_index()
df_week = df_march_weather[df_march_weather['is_weekend'] == 0].groupby('hour')['usage'].sum().reset_index()
# add day of the week like "Sunday", "Monday", etc.


fig = px.line(df_week, x='hour', y='usage', title='Bicing hourly usage of March 2023', markers=True)
#fig.add_scatter(x=df_weekend['hour'], y=df_weekend['usage'], mode='lines')
# Add the weekend line with red markers
fig.add_scatter(
    x=df_weekend['hour'],
    y=df_weekend['usage'],
    mode='lines+markers',
    name='Weekend',
    line=dict(color='red'),
    marker=dict(symbol='circle', size=6)
)

# Add a dummy scatter trace for legend entry
fig.add_scatter(
    x=[None],
    y=[None],
    mode='lines',
    marker=dict(color='blue', size=10),
    name='Weekdays'
)




fig.show()

In [229]:
df_march_weather

         date  usage  temperature  normalized_temperature
0  2023-03-01  20000           15                0.000000
1  2023-03-02  22000           16                0.111111
2  2023-03-03  24000           17                0.222222
3  2023-03-04  26000           18                0.333333
4  2023-03-05  28000           19                0.444444
5  2023-03-06  30000           20                0.555556
6  2023-03-07  32000           21                0.666667
7  2023-03-08  34000           22                0.777778
8  2023-03-09  36000           23                0.888889
9  2023-03-10  38000           24                1.000000
10 2023-03-11  20000           15                0.000000
11 2023-03-12  22000           16                0.111111
12 2023-03-13  24000           17                0.222222
13 2023-03-14  26000           18                0.333333
14 2023-03-15  28000           19                0.444444
15 2023-03-16  30000           20                0.555556
16 2023-03-17  32000           21                0.666667
17 2023-03-18  34000           22                0.777778
18 2023-03-19  36000           23                0.888889
19 2023-03-20  38000           24                1.000000
20 2023-03-21  20000           15                0.000000
21 2023-03-22  22000           16                0.111111
22 2023-03-23  24000           17                0.222222
23 2023-03-24  26000           18                0.333333
24 2023-03-25  28000           19                0.444444
25 2023-03-26  30000           20                0.555556
26 2023-03-27  32000           21                0.666667
27 2023-03-28  34000           22                0.777778
28 2023-03-29  36000           23                0.888889
29 2023-03-30  38000           24                1.000000
30 2023-03-31  20000           15                0.000000

In [ ]:
# merge bicing and weather

df_march = pd.read_csv('../../data/bicing/processed/months/2023_03_STATIONS.csv')
df_march

df_weather = pd.read_csv('../../data/weather_clean.csv', parse_dates=['date'])
df_weather